{% extends "template.html" %}

{% block title %}About - WTM Harvard{% endblock %}

{% block content %}
<div class="container">
    <h1>About WTM Harvard</h1>
    <p>What's The Move (WTM) Harvard is your ultimate party aggregator for Harvard University. 
       It is made by students for students.
    </p>
    <p>Find the best parties, events, and social gatherings happening on campus and in the surrounding area. 
       You can start by either adding a party to your wishlist, or creating a party yourself!
    </p>
    <p>To create a party, go to the "Parties" table and select "Add a party." Put in your party details, and hit "Save party"
       to post this party on WTM Harvard. Users will be able to see your party and add it to their wishlist. If you'd like to edit
       or delete your party, you can do so by clicking on your event and chosing between the "Edit" and "Delete" buttons.
    </p>
    <p>
        Check out the community feed under the "Feed" tab, where users can post and comment on WTM Harvard. If there are no posts,
        be the first one to make a post!
    </p>
    <p>
        WTM Harvard is new and in its developing stages. If you notice any issues or bugs, please email solideaficco@college.harvard.edu.
        It is our goal to provide a user-friendly, fun experience to all at WTM Harvard.
    </p>
    <p>
        Go make your move!
    </p>
</div>
{% endblock %}
